
#section{
    margin-top: 100px;
    text-align: center;
    padding: auto;
}
#navigator{
    text-align: center;
    float: right;
}
#butt{
    margin-left: 30px;
    background-color: transparent;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
#body{
    /* background-image: url("/Users/SAGGIO GABRIELLO/Documents/New folder/keyboard2.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;

}
#head1{
    font-size:60px;
    color: white;
}
#paragraph{
    color: white;
    font-size: 30px;
}
#apply{
    margin-left: 30px;
    background-color: greenyellow;
    color:white;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    width: 100px;
    margin-top: 100px;
    float: center;
    border-radius: 10px;
}